﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Юридические услуги</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Лаба 1</h2>
        <p>
            Law services

            Сущности две: категории и услуги. У категории множество услуг, у услуг одна категория.
        </p>
    </div>

</div>