﻿@model laba1.Models.Category

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подробности о категории</h2>

<div>
    <h4>Команда</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        

        @if (Model.Services.Count != 0)
        {
            <dt>
                Услуги в категории
            </dt>
        
            <dd>
                <ul class="list-group">

                    @foreach (var item in Model.Services)
                    {
                    <li class="list-group-item">@Html.DisplayFor(modelItem => item.Title) – 
                                                @Html.DisplayFor(modelItem => item.Description)</li>

                    }
                </ul>
            </dd>
        }
        else
        {
            <dd>
                No such service!
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Назад к списку категорий", "Index")
</p>
