﻿@model IEnumerable<laba1.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Категории</h2>

<p>
    @Html.ActionLink("Добавить категорию", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Подробности", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
